<div class="col-sm-12">
  <div class="form-group">
    <label for="model" class="control-label">Model</label>
    <input type="text" data-ng-model="vm.car.model" class="form-control" id="model" placeholder="Model" required />
  </div>
</div>
<div class="col-sm-4">
  <div class="form-group">
    <label for="wheels" class="control-label">Wheels</label>
    <input type="number" data-ng-model="vm.car.wheels" class="form-control" id="wheels" placeholder="Wheels" step="1" min="0" required />
  </div>
</div>
<div class="col-sm-4">
  <div class="form-group">
    <label for="color" class="control-label">Color</label>
    <input type="text" data-ng-model="vm.car.color" class="form-control" id="color" placeholder="Color" required />
  </div>
</div>
<div class="col-sm-4">
  <div class="form-group">
    <label for="price" class="control-label">Price</label>
    <input type="number" data-ng-model="vm.car.price" class="form-control" id="price" placeholder="Price" step="0.01" min="0" required />
  </div>
</div>